.top_bar
{
	background:#2ECC71;
	padding: 5px 0;
}
.social_icons
{
	margin-right: 5px;
}
.contact_info
{
	color: #fff;
	font-size: 15px;
}

.my_menu
{
	margin-top: 55px;
}

.my_menu .navbar-default
{
	background: none;
	border: none;
}

.my_menu .navbar-nav .active
a{ 
	background: #2ECC71;
	color: #fff;
}

.my_menu .navbar-nav li a:hover
{
	background: #2ECC71;
	color: #fff;
}

@media (max-width: 1200px)
{
	.my_menu .pull-right{float:none !important;}
}

.sidepicc
{
    margin-top: 60px;
}

.our_doctors
{
    background: radial-gradient(circle,#58D68D,#2ECC71);
    padding: 25px 0px;
}

.our_doctors h1{color:#fff;}














